@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:regular,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=EB+Garamond:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Cormorant+Garamond", sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Cormorant+Garamond", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 82.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

html::-webkit-scrollbar {
  display: none;
}

.title__aside {
  font-family: "Garamond";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #111111;
  z-index: 5;
}

.header__container {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 34.375rem;
          flex: 1 1 34.375rem;
}

.menu__items > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__items > ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__button-info {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-info {
  width: 2rem;
  height: 2rem;
  display: block;
}

.contacts-block {
  font-family: "Cormorant Garamond";
  line-height: 1.3;
}

.contacts-block__wrapper {
  overflow: auto;
  position: absolute;
  right: -100%;
  top: 0;
  width: 24.739583%;
  /* 475/1920 */
  height: 100vh;
  background-color: #111111;
  z-index: 4;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: right 1s ease 0s;
  -o-transition: right 1s ease 0s;
  transition: right 1s ease 0s;
}

.info-open .contacts-block__wrapper {
  right: 0;
}

.contacts-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 35rem;
  height: 100%;
}

.side-contacts > *:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.side-contacts__title {
  margin-bottom: 1.5625rem;
}

.side-contacts__tel {
  display: block;
}

.side-work-time > *:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.side-work-time__title {
  margin-bottom: 1.5625rem;
}

.icon-menu {
  display: none;
}

.icon-info {
  display: none;
  display: block;
  position: relative;
  width: 2.5rem;
  height: 1.25rem;
  z-index: 5;
}

.icon-info span,
.icon-info::before,
.icon-info::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
}

.icon-info::before {
  top: 0;
}

.icon-info::after {
  bottom: 0;
}

.icon-info span {
  right: 0.625rem;
}

.icon-info span {
  top: calc(50% - 0.0625rem);
}

.info-open .icon-info {
  width: 2rem;
  height: 2rem;
}

.info-open .icon-info span {
  width: 0;
}

.info-open .icon-info::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.info-open .icon-info::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  background: #111111;
  font-family: "Cormorant Garamond";
  line-height: 1.3;
}

.column-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}

.column-contacts__title {
  font-family: "Garamond";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.column-work__title {
  font-family: "Garamond";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.column-work__row-time:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.column-insta {
  font-family: "Garamond";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.column-insta__title {
  margin-bottom: 1.5625rem;
}

.copyright-footer__container {
  text-align: center;
}

.copyright-footer__text {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  line-height: 1.4;
}

.no-webp .hero{
  background: url("../img/hero/hero-bg.jpg") 0 0/cover no-repeat; }

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.hero__block-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
  text-align: center;
}

.hero__title {
  font-family: "Garamond";
  font-weight: 700;
  line-height: 1.2;
}

.hero__mouse {
  position: absolute;
  left: 50%;
  bottom: 5%;
  /* 102/1038 */
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
  text-align: center;
}

.hero__text {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  line-height: 1.4;
}

.quote {
  background: #111111;
}

.quote__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote__block-text {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  line-height: 1.3;
  max-width: 53.5rem;
  text-align: center;
}

.quote__block-text > *:not(:last-child) {
  margin-bottom: 1.375rem;
}

.services {
  background: #111111;
}

.card-service__body {
  max-width: 416px;
  font-family: "Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.2;
  margin: 0 auto;
}

.card-service__image-ibg {
  padding-top: 75.757576%;
  /* 300/396 */
  max-width: 24.75rem;
  position: relative;
  margin-bottom: 1.875rem;
}

.card-service__image-ibg img {
  z-index: 1;
}

.card-service__image-ibg::after {
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.5;
  border: 1px solid #cdaa7d;
  position: absolute;
  -webkit-transform: translate(5.050505%, -6.666667%);
      -ms-transform: translate(5.050505%, -6.666667%);
          transform: translate(5.050505%, -6.666667%);
  z-index: 0;
}

.partners {
  background: #111111;
  padding-top: 4.8125rem;
  padding-bottom: 5.1875rem;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3.125rem 1.25rem;
}

.partners__partner-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 11.875rem;
          flex: 1 1 11.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-works {
  padding-top: 5.3125rem;
  padding-bottom: 6.25rem;
  background: #111111;
}

.our-works__title {
  margin-bottom: 5rem;
  text-align: center;
  font-family: "Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
}

.tabs__navigation {
  margin-bottom: 3.4375rem;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 1.5rem;
  line-height: 1.3;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  /* or 31px */
}

.tabs__title {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs__title:not(:last-child) {
  margin-right: 3.75rem;
}

.tabs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.tabs__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26rem;
          flex: 0 1 26rem;
  max-width: 26rem;
}

.tabs__image-ibg {
  padding-bottom: 100%;
}

.team {
  background: #111111;
  min-height: 90vh;
}

.team__row-title {
  text-align: center;
}

.team__title {
  font-family: "Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  margin-bottom: 6.25rem;
}

.team__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 3.125rem 0rem;
  justify-items: center;
}

.card-team__card {
  max-width: 25rem;
  width: 100%;
}

.card-team__image-ibg {
  padding-bottom: 119.25%;
  /* 477/400 */
  position: relative;
  max-width: 25rem;
  margin-bottom: 1.875rem;
}

.card-team__image-ibg::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 0;
  border: 1px solid #cdaa7d;
  -webkit-transform: translate(1.25rem, -1rem);
      -ms-transform: translate(1.25rem, -1rem);
          transform: translate(1.25rem, -1rem);
}

.card-team__image-ibg img {
  z-index: 1;
  max-width: 25rem;
}

.card-team__text {
  font-family: "Cormorant Garamond";
  line-height: 130%;
}

.card-team__title {
  font-weight: 700;
  font-size: 1.6875rem;
}

.card-team__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.prices {
  background: #111111;
}

.prices__container {
  min-height: 90vh;
}

.prices__top-row {
  text-align: center;
  margin-bottom: 5rem;
}

.prices__title {
  font-family: "Garamond";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
}

.our-price__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-price__block:not(:last-child) {
  margin-bottom: 5rem;
}

.our-price__block:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.our-price__image {
  max-width: 39.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.our-price__image-ibg {
  padding-bottom: 84.27673%;
  /* 536/636 */
}

.price-info {
  max-width: 32.875rem;
  width: 100%;
}

.price-info__table {
  width: 100%;
  font-family: "Cormorant Garamond";
  line-height: 130%;
}

.price-info__row-service {
  margin-bottom: 0.625rem;
  font-weight: 700;
  font-size: 1.6875rem;
}

.price-info__price {
  text-align: right;
}

.price-info__row-extra {
  margin-bottom: 2.5rem;
}

.price-info__extra {
  font-weight: 400;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #ffffff;
}

@media (min-width: 31.25em) {
  .hero__mouse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    bottom: 9.82659%;
    /* 102/1038 */
  }

  .services__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
    row-gap: 3.75rem;
  }

  .services__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 26rem;
            flex: 1 1 26rem;
  }
}

@media (min-width: 37.5em) {
  .footer .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer [class*=__title] {
    margin-bottom: 0.625rem;
  }

  .team__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 3.125rem 0.9375rem;
  }
}

@media (min-width: 56.25em) {
  .team__cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem 1.5rem;
  }
}

@media (min-width: 82.875em) {
  .menu__items > ul {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }

  .footer__container {
    padding-top: 5rem;
  }

  .footer__container {
    padding-bottom: 5rem;
  }

  .copyright-footer__container {
    padding-top: 1.875rem;
  }

  .copyright-footer__container {
    padding-bottom: 1.875rem;
  }

  .hero__title {
    font-size: 4.5rem;
  }

  .quote__container {
    padding-top: 7.5rem;
  }

  .quote__container {
    padding-bottom: 3rem;
  }

  .quote__body {
    row-gap: 3.75rem;
  }

  .quote__body img {
    width: 5rem;
  }

  .quote__block-text {
    font-size: 1.6875rem;
  }

  .services__container {
    padding-top: 2.9375rem;
  }

  .services__container {
    padding-bottom: 4.6875rem;
  }

  .team {
    padding-top: 11.25rem;
  }

  .team {
    padding-bottom: 6.25rem;
  }

  .prices__container {
    padding-top: 11.25rem;
  }

  .prices__container {
    padding-bottom: 6.25rem;
  }
}

@media (max-width: 50em) {
  .contacts-block__wrapper {
    width: 45%;
    /* 475/1920 */
  }
}

@media (max-width: 20em) {
  .menu__items > ul {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .footer__container {
    padding-top: 1.875rem;
  }

  .footer__container {
    padding-bottom: 1.875rem;
  }

  .copyright-footer__container {
    padding-top: 0.625rem;
  }

  .copyright-footer__container {
    padding-bottom: 0.625rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .quote__container {
    padding-top: 3.125rem;
  }

  .quote__container {
    padding-bottom: 1.25rem;
  }

  .quote__body {
    row-gap: 1.25rem;
  }

  .quote__body img {
    width: 3.125rem;
  }

  .quote__block-text {
    font-size: 1.375rem;
  }

  .services__container {
    padding-top: 1.5625rem;
  }

  .services__container {
    padding-bottom: 2.1875rem;
  }

  .team {
    padding-top: 6.25rem;
  }

  .team {
    padding-bottom: 1.875rem;
  }

  .prices__container {
    padding-top: 6.25rem;
  }

  .prices__container {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 62.5em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu .icon-menu__text {
    display: none;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    height: 0.125rem;
    background-color: #fff;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 62.5em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 37.49875em) {
  .footer {
    text-align: center;
  }

  .footer .footer__column:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .footer .column-contacts__title {
    margin-bottom: 0.9375rem;
  }

  .footer .column-contacts__map {
    display: block;
    padding-top: 1.25rem;
  }

  .footer .column-contacts__tel:not(:last-child) {
    margin-right: 1.875rem;
  }

  .footer .column-work__title {
    margin-bottom: 0.9375rem;
  }

  .footer .column-work__row-time:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 31.24875em) {
  .hero__mouse img {
    margin-bottom: 0.9375rem;
  }
}

@media (max-width: 31.25em) {
  .services__card {
    margin-bottom: 3.125rem;
    margin: 0 auto 3.125rem;
  }

  .services__card .card-service__body {
    margin: 0 auto;
  }
}

@media (min-width: 20em) and (max-width: 82.875em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -0.7666500994rem  +  6.958250497vw , 5rem )) or (column-gap: clamp( 0.625rem , -0.7666500994rem  +  6.958250497vw , 5rem ))) {
    .menu__items > ul {
      -webkit-column-gap: clamp( 0.625rem , -0.7666500994rem  +  6.958250497vw , 5rem );
         -moz-column-gap: clamp( 0.625rem , -0.7666500994rem  +  6.958250497vw , 5rem );
              column-gap: clamp( 0.625rem , -0.7666500994rem  +  6.958250497vw , 5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.7666500994rem  +  6.958250497vw , 5rem )) or (column-gap: clamp( 0.625rem , -0.7666500994rem  +  6.958250497vw , 5rem ))) {
    .menu__items > ul {
      -webkit-column-gap: calc(0.625rem + 4.375 * (100vw - 20rem) / 62.875);
         -moz-column-gap: calc(0.625rem + 4.375 * (100vw - 20rem) / 62.875);
              column-gap: calc(0.625rem + 4.375 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.8809642147rem  +  4.9701789264vw , 5rem )) {
    .footer__container {
      padding-top: clamp( 1.875rem , 0.8809642147rem  +  4.9701789264vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.8809642147rem  +  4.9701789264vw , 5rem )) {
    .footer__container {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8809642147rem  +  4.9701789264vw , 5rem )) {
    .footer__container {
      padding-bottom: clamp( 1.875rem , 0.8809642147rem  +  4.9701789264vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8809642147rem  +  4.9701789264vw , 5rem )) {
    .footer__container {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.2273856859rem  +  1.9880715706vw , 1.875rem )) {
    .copyright-footer__container {
      padding-top: clamp( 0.625rem , 0.2273856859rem  +  1.9880715706vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.2273856859rem  +  1.9880715706vw , 1.875rem )) {
    .copyright-footer__container {
      padding-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.2273856859rem  +  1.9880715706vw , 1.875rem )) {
    .copyright-footer__container {
      padding-bottom: clamp( 0.625rem , 0.2273856859rem  +  1.9880715706vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.2273856859rem  +  1.9880715706vw , 1.875rem )) {
    .copyright-footer__container {
      padding-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 62.875);
    }
}

@supports (font-size: clamp( 2.5rem , 1.8638170974rem  +  3.1809145129vw , 4.5rem )) {
    .hero__title {
      font-size: clamp( 2.5rem , 1.8638170974rem  +  3.1809145129vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.8638170974rem  +  3.1809145129vw , 4.5rem )) {
    .hero__title {
      font-size: calc(2.5rem + 2 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.7333499006rem  +  6.958250497vw , 7.5rem )) {
    .quote__container {
      padding-top: clamp( 3.125rem , 1.7333499006rem  +  6.958250497vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.7333499006rem  +  6.958250497vw , 7.5rem )) {
    .quote__container {
      padding-top: calc(3.125rem + 4.375 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6933399602rem  +  2.7833001988vw , 3rem )) {
    .quote__container {
      padding-bottom: clamp( 1.25rem , 0.6933399602rem  +  2.7833001988vw , 3rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6933399602rem  +  2.7833001988vw , 3rem )) {
    .quote__container {
      padding-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 62.875);
    }
}

@supports (row-gap: clamp( 1.25rem , 0.4547713718rem  +  3.9761431412vw , 3.75rem )) {
    .quote__body {
      row-gap: clamp( 1.25rem , 0.4547713718rem  +  3.9761431412vw , 3.75rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.4547713718rem  +  3.9761431412vw , 3.75rem )) {
    .quote__body {
      row-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 62.875);
    }
}

@supports (width: clamp( 3.125rem , 2.5285785288rem  +  2.9821073559vw , 5rem )) {
    .quote__body img {
      width: clamp( 3.125rem , 2.5285785288rem  +  2.9821073559vw , 5rem );
    }
}

@supports not (width: clamp( 3.125rem , 2.5285785288rem  +  2.9821073559vw , 5rem )) {
    .quote__body img {
      width: calc(3.125rem + 1.875 * (100vw - 20rem) / 62.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2755964215rem  +  0.4970178926vw , 1.6875rem )) {
    .quote__block-text {
      font-size: clamp( 1.375rem , 1.2755964215rem  +  0.4970178926vw , 1.6875rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2755964215rem  +  0.4970178926vw , 1.6875rem )) {
    .quote__block-text {
      font-size: calc(1.375rem + 0.3125 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.1251242545rem  +  2.1868787276vw , 2.9375rem )) {
    .services__container {
      padding-top: clamp( 1.5625rem , 1.1251242545rem  +  2.1868787276vw , 2.9375rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.1251242545rem  +  2.1868787276vw , 2.9375rem )) {
    .services__container {
      padding-top: calc(1.5625rem + 1.375 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 1.3922713718rem  +  3.9761431412vw , 4.6875rem )) {
    .services__container {
      padding-bottom: clamp( 2.1875rem , 1.3922713718rem  +  3.9761431412vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 1.3922713718rem  +  3.9761431412vw , 4.6875rem )) {
    .services__container {
      padding-bottom: calc(2.1875rem + 2.5 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-top: clamp( 6.25rem , 4.6595427435rem  +  7.9522862823vw , 11.25rem )) {
    .team {
      padding-top: clamp( 6.25rem , 4.6595427435rem  +  7.9522862823vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 4.6595427435rem  +  7.9522862823vw , 11.25rem )) {
    .team {
      padding-top: calc(6.25rem + 5 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4833499006rem  +  6.958250497vw , 6.25rem )) {
    .team {
      padding-bottom: clamp( 1.875rem , 0.4833499006rem  +  6.958250497vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4833499006rem  +  6.958250497vw , 6.25rem )) {
    .team {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-top: clamp( 6.25rem , 4.6595427435rem  +  7.9522862823vw , 11.25rem )) {
    .prices__container {
      padding-top: clamp( 6.25rem , 4.6595427435rem  +  7.9522862823vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 4.6595427435rem  +  7.9522862823vw , 11.25rem )) {
    .prices__container {
      padding-top: calc(6.25rem + 5 * (100vw - 20rem) / 62.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4833499006rem  +  6.958250497vw , 6.25rem )) {
    .prices__container {
      padding-bottom: clamp( 1.875rem , 0.4833499006rem  +  6.958250497vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4833499006rem  +  6.958250497vw , 6.25rem )) {
    .prices__container {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 62.875);
    }
}
}

@media (any-hover: hover) {
  .menu__item:hover {
    color: #cdaa7d;
    text-decoration: underline;
    text-underline-offset: 0.75rem;
  }

  .tabs__title:hover {
    color: #cdaa7d;
    text-decoration: underline;
    text-underline-offset: 0.75rem;
  }
}

@media (any-hover: none) {
  .icon-info {
    cursor: default;
  }
}

.webp .hero{ background: url(../img/hero/hero-bg.webp) 0 0/cover no-repeat; }